.statistics {
  margin: 0 auto 30px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000000;
}

.title {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
}

.statList {
  display: flex;
}

.item {
  width: 60px;
  text-align: center;
  padding: 10px 0;
  color: #ffffff;
}

.percentage {
  display: block;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.item:first-child {
  background-color: #50c4f5;
  border-radius: 0 0 0 5px;
}

.item:nth-child(2) {
  background-color: #a23df1;
}

.item:nth-child(3) {
  background-color: #e84b66;
}
.item:nth-child(4) {
  background-color: #20b8c5;
}
.item:last-child {
  background-color: #17e628;
  border-radius: 0 0 5px 0;
}
