@import-normalize;

.App {
  margin: 50px auto;
  padding: 0 15px;
}

@media screen and (min-width: 320px) {
  .App {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .App {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .App {
    width: 1024px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}
